@import "tailwindcss";
@custom-variant hover (&:hover);

@layer base {
    html {
        @apply bg-neutral-900 text-neutral-100;
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    html {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    body {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@layer components {
    .prose :where(img) {
        @apply my-0;
    }
}
